.speech {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px; 
    color: black;
}
.direction {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:black;
    background-color: bisque;
}
.ZMEYUKINA {
    color:burlywood;
}
.YATS {
    color:red;
}
.GROOMSMAN {
    color:gray;
}
.NASTASYA{
    color:blue;
}
.APLOMBOV{
    color:skyblue;
}
.A_WAITER{
    color:brown;
}
.NASTASYA_TIMOFEYEVNA{
    color:blueviolet;
}

.direction:hover {    
    background-color: coral;
    color:aqua;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; 
}

.table th, .table td {
    border: 1px solid black;
    padding: 10px; 
    text-align: center;
}

.table th {
    background-color:blueviolet; 
}

.table tr:nth-child(even) {
    background-color: violet; 
}
