.speech {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px; 
    color: black;
}
.direction {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:black;
    background-color: bisque;
}
.ZMEYUKINA {
    color:burlywood;
}
.YATS {
    color:red;
}
.GROOMSMAN {
    color:gray;
}
.NASTASYA{
    color:blue;
}
.APLOMBOV{
    color:skyblue;
}
.A_WAITER{
    color:brown;
}
.NASTASYA_TIMOFEYEVNA{
    color:blueviolet;
}
.NASTASYA_TIMOFEYEVNA:hover{
    text-shadow: 5px 5px 10px peru;
}
.APLOMBOV:hover{
    text-shadow: 5px 5px 10px black;
}
.GROOMSMAN:hover{
    text-shadow: 5px 5px 10px blueviolet;
}


.direction:hover {    
    background-color: coral;
    color:aqua;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; 
}

.table th, .table td {
    border: 1px solid black;
    padding: 10px; 
    text-align: center;
}

.table th {
    background-color:blueviolet; 
}

.table tr:nth-child(even) {
    background-color: violet; 
}


.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
    text-decoration: none;
    color: #333;
}

.navbar img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.navbar img:hover {
    transform: scale(1.1);
}